*.swp
*bak
*cop
*goed
*new
.HA_VERSION
.O365-token-cache/
.google.token
.storage
HomeAssistantConfig-Dick
auth*
automations.yaml_met_afval
blueprints/
camera
configuration.yaml_211222
configuration.yaml_http
core*
custom_components/
energy
frontend.user_data*
google_calendars.yaml
hacs
hacs.*
home-assistant*
homekit_controller-entity-map
http
image
lovelace_resources
mobile_app
o365_calendars.yaml
person
secrets.yaml
sensor.safe
ssl
tts
upgrade_hass.sh
www
