!.gitignore


# ignore some extensions

*.swp
*bak
*cop
*goed
*new
*.py*

# ignore directories

.O365-token-cache/
.google.token
.storage
HomeAssistantConfig-Dick
auth
auth_module.totp
auth_provider.homeassistant
automations.yaml_met_afval
blueprints/
camera
configuration.yaml_211222
configuration.yaml_http
core*
energy
frontend.user_data*
home-assistant*
image
lovelace_resources
sensor.safe
ssl
tts
www

# These should always be ignored

google_calendars.yaml
o365_calendars.yaml
secrets.yaml
.ignore

